"*":
  Zen:
    showWordCount: "Left"
    softWrap: true
  core:
    disabledPackages: [
      "language-gfm"
      "language-ino"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "pen-paper-coffee-syntax"
    ]
  editor:
    fontSize: 12
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "40f63122-e8fc-4683-ae31-5463dff33a75"
  "markdown-pdf":
    format: "Letter"
